.toggle-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 9999px;
    background-color: white;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: transform 0.3s ease;
    left: 0.25rem;
    top: 0.125rem;
    z-index: 10;
  }
  
  .toggle-label {
    display: block;
    width: 2.5rem;
    height: 1.5rem;
    background-color: #d1d5db;
    border-radius: 9999px;
    position: relative;
    transition: background-color 0.3s ease;
  }
  
  .toggle-checkbox:checked {
    transform: translateX(1rem);
  }
  
  .toggle-checkbox:checked + .toggle-label {
    background-color: #4caf50;
  }
  